
.header__top {
    width: 100%;
    background-color: #fff;
    font-size: 18px;
}
.header__user-location {

}
.header__main {
    background-color: transparent;
}
.header__logo {
    
}
.header__nav {

}
.header__links {
    
}